* {
   border: 0;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.Mega h2 {
   font-size: 2.8rem;
}

.Mega h3 {
   font-size: 2rem;
   font-weight: 600;
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
}

.Bolas {
   display: flex;
   align-content: center;
   justify-content: center;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   margin: 0 7px 7px 0;
   background-color: #27d8c6;
}

.Bolas span {
   align-self: center;
   justify-self: center;
}

.inputs {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.inputs label {
   font-size: 1.6rem;
}

.inputs input {
   border: none;
   margin-top: 5px;

   height: 25px;
   width: 50px;

   font-size: 1.6rem;
}

.Mega button {
   padding: 7px;
   border-radius: 7px;
   margin-top: 10px;

   background-color: #27d8c6;
   color: #fff;
   
   font-size: 1.8rem;
   cursor: pointer;
}